* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: cursive, sans-serif;
}
:root {
	--primary-color: #1d1d1d;
	--secondary-color: #fafafa;
}
body {
	background-color: var(--primary-color);
	color: var(--secondary-color);
}
.container {
	margin: 0 auto;
	padding: 2em;
	max-width: 1200px;
}
h1,
h2 {
	text-align: center;
}
h1 {
	margin-bottom: 1em;
}
.machine-container {
	display: flex;
	justify-content: center;
	gap: 2em;
}
.machine {
	flex-basis: 50%;
	position: relative;
	padding-bottom: 2rem;
}
.machine img {
	width: 100%;
	max-width: 300px;
	display: block;
	margin: 0 auto;
}
.machine button {
	margin: 2rem auto 0;
}
button {
	display: block;
	margin: 0 auto;
	background-color: #253a4c;
	color: #fafafa;
	font-size: 1rem;
	padding: 8px 20px;
	border-radius: 3px;
	transition: transform 0.5s, background-color 0.5s;
	border: none;
	cursor: pointer;
}
button:hover {
	transform: scale(1.05);
	background-color: #3b4f66;
}
.restock-msg {
	text-align: center;
	min-height: 2em;
	margin-top: 0.5em;
}
.machine .in-stock {
	background-color: var(--secondary-color);
	color: #000;
	font-size: 1.1rem;
	width: 100%;
	max-width: 200px;
	height: 290px;
	position: absolute;
	top: 0;
	left: 50%;
	opacity: 0;
	transition: 0.5s;
	transform: translate(-50%, -50%) scaleY(0);
}
.machine .in-stock.active {
	transform: translate(-50%, 0) scaleY(1);
	opacity: 1;
}
.in-stock .cancel {
	position: absolute;
	right: 0;
	transform: translateX(100%);
	font-size: 1.2rem;
	padding: 5px 10px;
	color: #fafafa;
	cursor: pointer;
}
.in-stock header {
	display: flex;
}
.in-stock header span {
	text-align: center;
	flex-basis: 50%;
	padding: 0.3rem 0;
	border-bottom: 1px solid #1d1d1d;
}
.in-stock header span:nth-child(1) {
	border-right: 1px solid #1d1d1d;
}
.in-stock .drink {
	display: flex;
	justify-content: space-between;
	text-align: center;
	padding: 0.5em 0 0;
	font-size: 1rem;
	text-transform: uppercase;
}
.drink div {
	flex-basis: 50%;
}
form {
	text-align: center;
	font-size: 1.3rem;
	padding: 0.5rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	max-width: 500px;
	margin: 0 auto;
}
form a {
	display: block;
	text-decoration: none;
	margin-top: 2em;
	grid-column: 1/3;
}

select {
	min-width: 100px;
	text-align: center;
	font-size: 0.9rem;
	text-transform: uppercase;
}
input {
	max-width: 100px;
}
.drinksSold {
	display: flex;
	flex-wrap: wrap;
	gap: 0.8em 0;
}
.eDrink {
	width: 50px;
}

@media screen and (max-width: 480px) {
	.machine-container {
		flex-direction: column;
	}

	form {
		display: block;
	}
	form > div:nth-child(1) {
		margin: 0.5em 0;
	}
	select {
		font-size: 0.7rem;
	}
}
